*{margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}
:root{
    --maroon: hsl(0, 51%, 39%);
    --orange: hsl(34, 68%, 62%);
    --yellow: hsl(41, 91%, 76%);
    --beige: hsl(47, 77%, 83%);
}
body{
    background-color: var(--beige);
    margin: 0 3rem;
    
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--maroon);
    padding: 4rem;  
}
.header>img{
    margin-top: -2rem;
    height: 6rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-radius: 1rem;
}
.header>input{
    padding: 1rem;
    width: 40%;
    border-radius: 2rem;
}
.sign-in:hover{
    border: var(--yellow);
}
.sign-up:hover{
    background-color: var(--yellow); 
}
.sign-up{
    padding: 1rem;
    background-color: white;
    color: var(--maroon);
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}
.sign-in{
    background-color: inherit;
    padding: 1rem;
    border: 1px solid white;
    font-weight: 700;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}
.nav>ul{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.nav>ul>li>a:hover{
    color: var(--yellow);
}
.nav>ul>li{
    list-style: none;
    display: inline;
    margin-left: 1.5rem;
}
.nav>ul>li>a{
    text-decoration: none;
    font-weight: 600;
    color: var(--maroon);
}
.nav-alt{
    display: none;
}
.close-nav{
    display: none;
}
.select{
    background-color: var(--beige);
    padding: .5rem;
    border-radius: 1rem;
}
.container-top{
    display: flex;
}
.left{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70%;
}
.left>h1{
    width: 60%;
    font-size: 3rem;
    margin: 3rem auto;
    color: var(--maroon);
}
.left>h2{
    width: 30%;
    font-size: 3rem;
    margin: 0 auto;
    color: var(--maroon);
}
.left>button:hover{
    background-color: var(--yellow);
}
.left>button{
    padding: 1rem;
    background-color: red;
    color: white;
    border-radius: 3rem;
    width: 15%;
    font-weight: 900;
    font-size: 1rem;
    outline: none;
    border: none;
    margin: 2rem 20rem;
    cursor: pointer;
}

.right{
    background-color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
    font-size: .7rem;
    color: var(--maroon);  
    cursor: pointer; 
}
.right>ul>li:hover{
    background-color: var(--maroon);
}
.right>ul>li{
    display: inline;
    gap: 5rem;  
}
.free-delivery{
    font-size: .7rem;
    width: 100%;
    color: var(--maroon);
}
.free-delivery>img{
    scale: 50%;
    margin-bottom: -5rem;
    margin-top: -5rem;
    margin-left: -5rem;
}
.right>img{
    margin-left: -20rem;
    margin-top: 2rem;
    scale: 50%;
    margin: -5rem 0 -5rem -20rem 
}
.cart{
    display:none;
    position: absolute;
    top:0;
    right:0;
    /* padding-left: 8rem; */
    width:80%;
    padding: 2rem;
    background: white;
    font-size: 1.2rem;
}
.icon-close>img:hover{
    background-color: var(--yellow);
}
.icon-close{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.selected{
    display: flex;
    justify-content: space-between;   
    margin-top: 2rem; 
}
.selected>button:hover{
    background-color: white;
}

.selected>button{
    padding: 1rem;
    width: 20%;
    border-radius: 1rem;
    background-color: rgb(207, 237, 207);
    cursor: pointer;
}
.selected>h2{
    color: green;
}
.selected>div{
    display: flex;
    gap: 1rem;
}
.order-select{
    border: solid 1px rgb(230, 225, 225);
    padding: 2rem;
    border-radius: 1rem;;
    margin: 2rem 0;
}
.order-select>div{
    display: flex;
    justify-content: space-between;
}
.order-select>div>div:hover{
    color: var(--maroon);
}
.order-select>div>div{
    display: flex;
    gap: 1rem;
    line-height: 3rem;
    cursor: pointer;
}
.payment>div{
    display: flex;
    justify-content: space-between;
    line-height: 3rem;
}
.payment>div>p:hover{
    color: var(--maroon);
}
.payment>div>p{
    cursor: pointer;
}
.checkout>div{
    display: flex;
    justify-content: space-between;   
    line-height: 3rem;
}
.cart>button{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
}
.bookmark:hover{
    color: var(--orange);
}
.clear:hover{
    background-color: var(--maroon);
}
.place:hover{
    background: var(--orange);
}
.clear{
    background-color: var(--orange);
    color: white;
    cursor: pointer;
}
.place{
    background-color: green;
    color: white;
    cursor: pointer;
}
.bookmark{
    color: green;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
.wallet{
    display: none;
    position: absolute;
    top:15rem;
    right:5rem;
    width:25%;
    padding: 2rem;
    background: white;
    font-size: 1.2rem;
    border-radius: 2rem;
    text-align: center;
}
.wallet>div>img{
    scale: 80%;
    margin: -2rem 0 -2rem -5rem;
}
.wallet>div>button{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}
.wallet>div>button:hover{
    background-color: whitesmoke;
}
.profile{
    display: none;
    position: absolute;
    top:15rem;
    right:2rem;
    width: 25%;
    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
    margin: 0 auto;
    font-size: 1rem;
}
.logout:hover{
    color: var(--yellow);
}
.profile>h3>a:hover{
    color: var(--maroon);
}
.remaining{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.logout{
    display: flex;
    justify-content: space-between;
}
.profile>img{
    scale: 33%;
    justify-items: center;
    margin: -15rem 0 -15rem -17rem;
}
.titles{
    font-size: 2rem;
    color: var(--maroon);
    margin: 1.5rem 0;
}
.top-offers{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1.3rem;
}
.offer{
    width: 100%;
    border: 1px solid ;
    border-radius: 1rem;
}
.offer>img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.offer>button:hover{
    background-color: var(--yellow);
}
.offer>button{
    width: 50%;
    border-radius: 1rem;
    margin: 1rem;
    color: white;
    background-color: red;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
}
.offer>p{
    margin-top: 1rem;
    margin-left: 1rem;
}
.all-categories{
    display: flex;
    gap: 1rem;
}
.category>p:hover{
    color: var(--maroon);
}
.category>p{
    cursor: pointer;
}
.category{
    width: 30%;
    color: var(--orange);
    font-weight: 500;
    font-size: 1.5rem;
}
.category>img{
    width: 100%;
    height: 200px;
     border-radius: 1rem;
}
.footer{
    background-color: rgb(4, 7, 32);
    padding: 1rem;
    margin-top: 2rem;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex>ul{
    margin-top: 4rem;
}
.flex>ul>li{
    margin-bottom: 1rem;
    color: var(--beige);
    list-style: none;
    font-weight: 600;
}
.flex>ul>li>a:hover{
    color: var(--maroon);
}
.flex>ul>li:hover{
    color: var(--maroon);
    cursor: pointer;
}
.flex>ul>li>a{
    text-decoration: none;
    color: var(--beige);
}
hr{
    margin: 1rem 2rem;
}
.flex>ul>li>img{
    margin-top: -5rem;
}
.buttom{
    display: flex;
    justify-content: space-around;   
}
.socials>ul>li>a>img:hover{
    background-color: var(--yellow);
}
.socials>ul{
    display: flex;
    list-style: none;
}
.copyright{
    color: var(--beige);
}
.header>input:hover{
    background-color: var(--yellow);
    cursor: pointer;
}
.orders-upper>img{
    width: 100%;
    height: 40rem;
}
.orders-upper>span{
    border: 1px solid green;
    background-color: inherit;
    padding: 1rem;
    border-radius: 3rem;
    color: green;
    margin-left: 2rem;
}
.orders-upper>img{
    margin-bottom: -5rem;
}
.orders-upper>span>img{
    margin-bottom: -.6rem;
}
.rate{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.ratings{
    display: flex;
    color: var(--maroon);
    gap: 1rem;
}
.delivery{
    border: 1px solid green;
    background-color: rgb(207, 237, 207);
    padding: 1rem;
    border-radius: 1rem;  
}
.delivery>ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.delivery>ul>li:hover{
    color: white;
}
.delivery>ul>li{
    list-style: none;
    color: green;
    cursor: pointer;
}
.time-order{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    color: green;
}
hr{
    margin: 3rem 0;
}
.choose>ul>li:hover{
    color: var(--maroon);
}
.choose>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: grey;
    cursor: pointer;
}
.choose{
    margin-bottom: 1rem;
}
.menu{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1.3rem;
}
.overlay{
    position: absolute;
    width: 95.6%;
    height: 70rem ;
    top: 1;
    left: 0;
    right: 0;
    bottom: -5;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left:3rem;
    margin-right: 3rem;
}
.about-upper>img{
    width: 100%;
    height: 70rem; 
    background-repeat: no-repeat;
    margin-bottom: -30rem;
}
.about-upper>h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.we-are{
    display: flex;
    gap: 2rem; 
    margin-top: 26rem;
    background-color: white;
    padding: 2rem;
}
.we-are>img{
    border-radius: 50%;
    width: 30%;
}
.we-are>div{
    margin: 0 5rem;
    font-size: 2rem;
    text-align: center;
    margin-top: 8rem;
}
.statistics{
    display: flex;
    justify-content: space-around;
    background-color: rgb(230, 225, 225);
}
.ratings{
    display: block;
    justify-items: center;
    padding: 2rem;
}
.impact{
    display: flex;
    gap: 2rem; 
    /* margin-top: 26rem; */
    background-color: white;
    padding: 2rem;
}
.impact>div{
    margin: 0 5rem;
    font-size: 2rem;
    text-align: center;
    margin-top: 8rem;
}
.impact>img{
    border-radius: 50%;
    width: 30%; 
}
.stories-section{
    background-color: rgb(230, 225, 225) ;
    text-align: center;
    padding: 2rem;
}
.stories{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;  
}
.stories>div{
    border: 1px solid var(--maroon);
    border-radius: 1rem;
    padding: 2rem;
    background-image: url(./assets/detailed-structure-marble-natural-pattern-background-design_1258-79155.avif);
}
.stories>div>img{
    border-radius: 50%;
    width: 50%;
    height: 15rem; 
    margin: 2rem 0;  
}
.contact-form{
    margin-top: 30rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.contact-form>input{
    margin-bottom: 2rem;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.contact-form>textarea{
    width: 100%;
    height: 10rem;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
}
.contact-form>button{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--maroon);
    color: white;
    border-radius: 2rem;
    margin-top: 2rem;
}
.contact-details{
    margin-bottom: 1rem;
    color: var(--maroon);
    list-style: none;
    font-weight: 600;
    margin-bottom: 2rem;
}
.FAQ{
    margin-bottom: 2rem;
}
.FAQ>p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--maroon);
}
.map>img{
    width: 100%;
    height: 50vh;
    margin-top: 2rem;
}
@media(max-width:480px){
    .body{
        margin: 2rem 0;
        position: relative;
    }
    .header{
        gap: 3rem;
        padding: 2.5rem 1rem;
    }
    .nav{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;

    }
    .nav>ul>li{
        display: block; 
        margin-top: 2rem;
        list-style: armenian;
    }
    
    .nav-alt{
        display: block;
    }
    .close-nav{
        display: flex;
        justify-content: flex-end;
    }
    .sign-up,.sign-in{
        display: none;
        cursor: pointer;
    }
    .sign-in:hover{
        border: var(--yellow);
    }
    .sign-up:hover{
        background-color: var(--yellow); 
    }
    .container-top{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .left>h1{
        width: 70%;
        font-size: 1rem;

    }
    .left>h2{
        width: 70%;
        font-size: 1rem;
        margin-top: -3rem;
    }
    .left>button{
        width: 50%;
        margin: 1rem 3rem;
        padding: .5rem;
    }
    .right{
        width: 100%;
    }
    .right>img{
        margin: -2rem 0;
        margin-left: -9rem;
        scale: 50%;
    }
    .cart{
        font-size: 1rem;
    }
    .wallet{
        width: 77%;
        top:28rem ;
        right: 3rem ;
    }
    .add-card>img{
        scale: 70%;
        margin: -6rem 0 -6rem -7rem;
    }
    .profile{
        width: 80%;
        top: 28rem;
        right: 3rem;
    }
    .profile>img{
        scale: 33%;
        margin: -15rem 0 -15rem -17rem;
    }
    .free-delivery>img{
        margin-left: -10rem;
    }
    .all-categories{
        flex-direction: column;
    }
    .top-offers{
        grid-template-columns: 100%;
    }
    .flex{
        flex-direction: column;
    }
    .buttom{
        flex-direction: column;
        gap: 1rem;
    }
    /* .orders-upper{
        height: 20rem;
    } */
     .choose>ul{
        flex-direction: column;
        gap: 1rem;
     }
    .about-upper>img{
        height: 30rem;
        margin-bottom: -28rem;
    }
    .about-upper>h1{
        font-size: 1rem;
        margin-top: 10rem;
        margin-bottom: -12rem;
    }
    .menu{
        grid-template-columns: 100%;
    }
    .overlay{
        position: absolute;
        width: 80%;
        height: 30rem;
    }
    .statistics{
        flex-direction: column;
    }
    .we-are{
        flex-direction: column;
    }
    .we-are>img{
        scale: 200%;
        margin-top: 5rem;
        margin-left: 6rem;
        margin-bottom: -5rem;
    }
    .we-are>div{
        font-size: 1rem;
        width: 80%;
        margin-left: 2rem;
    }
    .impact{
        flex-direction: column;
    }
    .impact>img{
        scale: 200%;
        margin-top: 5rem;
        margin-left: 6rem;
        margin-bottom: -5rem;
    }
    .impact>div{
        font-size: 1rem;
        width: 80%;
        margin-left: 2rem;
    }
    .stories{
        flex-direction: column;
    }
}
@media(min-width:481px) and (max-width:600px){
    .body{
        margin: 2rem auto;
        position: relative;
    }
    .header{
        gap: 3rem;
        padding: 2.5rem 1rem;
    }
    .nav{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;

    }
    .nav>ul>li{
        display: block; 
        margin-top: 2rem;
        list-style: armenian;
    }
    
    .nav-alt{
        display: block;
    }
    .close-nav{
        display: flex;
        justify-content: flex-end;
    }
    .sign-up,.sign-in{
        display: none;
    }
    .container-top{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .left>h1{
        width: 70%;
        font-size: 1rem;

    }
    .left>h2{
        width: 70%;
        font-size: 1rem;
        margin-top: -3rem;
    }
    .left>button{
        width: 50%;
        margin: 1rem 3rem;
        padding: .5rem;
    }
    .right{
        width: 100%;
    }
    .right>img{
        margin: -2rem 0;
        margin-left: -9rem;
        scale: 50%;
    }
    .free-delivery>img{
        margin-left: -7rem;
    }
    .wallet{
        width: 77%;
        top:28rem ;
        right: 3rem ;
    }
    .add-card>img{
        scale: 80%;
        margin: -6rem 0 -6rem -4rem;
    }
    .profile{
        width: 80%;
        top: 28rem;
        right: 3rem;
    }
    .profile>img{
        scale: 33%;
        margin: -15rem 0 -15rem -17rem;
    }
    .all-categories{
        flex-direction: column;
    }
    .top-offers{
        grid-template-columns: 100%;
    }
    .flex{
        flex-direction: column;
    }
    .buttom{
        flex-direction: column;
        gap: 1rem;
    }
    .choose>ul{
        flex-direction: column;
        gap: 1rem;
     }
    .about-upper>img{
        height: 30rem;
        margin-bottom: -28rem;
    }
    .about-upper>h1{
        font-size: 1rem;
        margin-top: 10rem;
        margin-bottom: -12rem;
    }
    .menu{
        grid-template-columns: 100%;
    }
    .overlay{
        position: absolute;
        width: 84%;
        height: 30rem;
    }
    .statistics{
        flex-direction: column;
    }
    .we-are{
        flex-direction: column;
    }
    .we-are>img{
        scale: 200%;
        margin-top: 5rem;
        margin-left: 9rem;
        margin-bottom: -5rem;
    }
    .we-are>div{
        font-size: 1rem;
        width: 80%;
        margin-left: 2rem;
    }
    .impact{
        flex-direction: column;
    }
    .impact>img{
        scale: 200%;
        margin-top: 5rem;
        margin-left: 9rem;
        margin-bottom: -5rem;
    }
    .impact>div{
        font-size: 1rem;
        width: 80%;
        margin-left: 2rem;
    }
    .stories{
        flex-direction: column;
    }
}
@media(min-width:601px) and (max-width:800px){
    .body{
        margin: 2rem auto;
        position: relative;
    }
    .header{
        gap: 3rem;
        padding: 2.5rem 1rem;
    }
    .nav{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;

    }
    .nav>ul>li{
        display: block; 
        margin-top: 2rem;
        list-style: armenian;
    }
    
    .nav-alt{
        display: block;
    }
    .close-nav{
        display: flex;
        justify-content: flex-end;
    }
    .container-top{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 100vh;
    }
    .left>h1{
        width: 70%;
        font-size: 2rem;

    }
    .left>h2{
        width: 70%;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .left>button{
        width: 50%;
        margin: 1rem 3rem;
        padding: .5rem;
    }
    .right{
        width: 100%;
        margin-top: -20rem;
    }
    .right>img{
        margin: -2rem 0;
        margin-left: -9rem;
        scale: 50%;
    }
    .wallet{
        width: 55%;
        top:28rem ;
        right: 3rem ;
    }
    .add-card>img{
        scale: 70%;
        margin: -6rem 0 -6rem -4rem;
    }
    .profile{
        width: 80%;
        top: 28rem;
        right: 3rem;
    }
    .profile>img{
        scale: 33%;
        margin: -15rem 0 -15rem -17rem;
    }
    .free-delivery>img{
        margin-left: -7rem;
    }
    .all-categories{
        flex-direction: column;
    }
    .top-offers{
        grid-template-columns: 100%;
    }
    /* .sign-up,.sign-in{
        display: none;
    } */
     .menu{
        grid-template-columns: 49% 49%;
     }
    .overlay{
        width: 88%;
    }
    .flex{
        flex-direction: column;
    }
    .choose>ul{
        flex-direction: column;
        gap: 1rem;
     }
    .about-upper>h1{
        font-size: 2rem;
        margin-top: 10rem;
        margin-bottom: -12rem;
    }
    .we-are{
        flex-direction: column;
        padding: 4rem;
        /* margin-top: -20rem; */
    }
    .we-are>img{
        margin: 0 auto;
        margin-bottom: -5rem;
    }
    .impact{
        flex-direction: column;
        padding: 4rem;
    }
    .impact>img{
        margin: 0 auto;
        margin-bottom: -5rem;
    }
    .stories{
        flex-direction: column;
    }
}

@media(min-width:801px) and (max-width:950px){
    .nav{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;

    }
    .nav>ul>li{
        display: block; 
        margin-top: 2rem;
        list-style: armenian;
    }
    
    .nav-alt{
        display: block;
    }
    .close-nav{
        display: flex;
        justify-content: flex-end;
    }
    .container-top{
        flex-direction: column;
    }
    .left{
        width: 100%;
        padding: 3rem;
    }
    .left>h1{
        width: 60%;
        font-size: 2rem;
        margin: 2.5rem auto;
        color: var(--maroon);
    }
    .left>h2{
        width: 40%;
    font-size: 2rem;
    margin: 0 auto;
    color: var(--maroon);
    }
    .left>button{
        width: 20%;
    }
    .right{
        width: 100%;
    }
    .right>img{
        margin: -2rem auto;
        /* margin-left: -9rem; */
        scale: 50%;
    }

    .wallet{
        width: 50%;
        top:15rem ;
        /* right: 3rem ; */
    }
    .add-card>img{
        scale: 70%;
        margin: -6rem 0 -6rem -4rem;
    }
    .profile{
        width: 40%;
    }
    .menu{
        grid-template-columns: 24% 24% 24% 24%;
    }
    .overlay{
        width: 89.5%;
    }
    .flex{
        flex-direction: column;
    }
    .we-are{
        flex-direction: column;
        padding: 4rem;
        /* margin-top: 1rem; */
    }
    .we-are>img{
        margin: 0 auto;
        margin-bottom: -5rem;
    }
    .impact{
        flex-direction: column;
        padding: 4rem;
    }
    .impact>img{
        margin: 0 auto;
        margin-bottom: -5rem;
    }
    .stories{
        flex-direction: column;
    }
}




